<h1>Edit <%= @dog.name %></h1>

<form action='/dogs/<%= @dog.id %>/edit' method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    
    <label for="name">Name:</label>
    <input type="text" id="name" name="dog[name]" value="<%= @dog.name %>" required>

    <fieldset>
        <legend>Sex:</legend>
        
            <input type="radio" id="male" name="dog[sex]" value="male"<% if @dog.sex.downcase == "male" %>checked="checked"<% end %> required>
            <label for="male">Male</label>

            <input type="radio" id="female" name="dog[sex]" value="female" <% if @dog.sex.downcase == "female" %>checked="checked"<% end %> >
            <label for="female">Female</label>
    </fieldset>

    <label for="dob">Date of Birth:</label>
    <input type="date" id="dob" name="dog[dob]" value="<%= @dog.dob %>" required>

    <fieldset>
        <legend>Acquired Skills:</legend>

        <% @user.skills.each do |skill| %>
            <input type="checkbox" id="skill" name="dog[skill_ids][]" value="<%= skill.id %>" 
            <% if @dog.skills.include?(skill) %>checked<% end %> >
            <label for="skill"><%= skill.name %></label>

            <label for="level">Choose skill mastery level:</label>
            <select name="dogskill[<%= skill.id %>]" id="level">
                <option value="novice" <% if skill.level(@dog.id).downcase == "novice" %>selected<% end %> >Novice</option>
                <option value="beginner" <% if skill.level(@dog.id).downcase == "beginner" %>selected<% end %> >Beginner</option>
                <option value="competent" <% if skill.level(@dog.id).downcase == "competent" %>selected<% end %> >Competent</option>
                <option value="proficient" <% if skill.level(@dog.id).downcase == "proficient" %>selected<% end %> >Proficient</option>
                <option value="expert" <% if skill.level(@dog.id).downcase == "expert" %>selected<% end %> >Expert</option>
            </select>
        <% end %>
    </fieldset>

    <fieldset>
        <legend>...And/or create a new skill!</legend>

        <label for="skillname">Skill Name:</label>
        <input type="text" id="skillname" name="skill[name]">

        <label for="level">Mastery Level:</label>
        <select name="skill[level]" id="level">
            <option value="novice" selected>Novice</option>
            <option value="beginner">Beginner</option>
            <option value="competent">Competent</option>
            <option value="proficient">Proficient</option>
            <option value="expert">Expert</option>
        </select>

        <label for="skilldesc">Description:</label>
        <input type="text" id="skilldesc" name="skill[description]">

        <label for="skillmethod">Method:</label>
        <textarea id="skillmethod" name="skill[method]"
            rows="5" cols="33" wrap="hard" 
            placeholder="What are the steps to teach your dog this skill? (optional)">
        </textarea>

    </fieldset>

    <input type="submit" value="Update Pup!">
</form>