<div class="col-md-8 col-md-offset-2">
<h2>Puppy Profile</h2>

  <div class="content">
    <% if @dog.user_id == @user.id %>
    <a href="/dogs/<%= @dog.id %>/edit" method="GET">Edit Puppy</a>
    <% end %>

    <h3><%= @dog.name %></h3>
    <% if @dog.user_id != @user.id %>
    Owner: <%= @owner.name %>
    <% end %>
    Sex: <%= @dog.sex %>
    Birthday: <%= @dog.dob %>
    Age: <%= @dog.age %>

    <h3>Acquired Skills</h3>

    <dl>
        <% @dog.skills.each do |skill| %>
            <dt><a href="/skills/<%= skill.id %>" method="GET"><%= skill.name %></a></dt>
            <dd><%= skill.level(@dog.id) %></dd>
            <dd><%= skill.description %></dd>
            <dd><%= skill.method %></dd>

        <% end %>
    </dl>

    <% if @dog.user_id == @user.id %>
      <form method="POST" action="/dogs/<%= @dog.id %>">
        <input type="hidden" name="_method" value="DELETE" />
        <input type="submit" value="Delete Puppy" />
      </form>
    <% end %>
  </div>
</div>