<h1><%= @user.name %>'s Profile</h1>

<h2>Pups</h2>
<ul>
    <% @user.dogs.each do |dog| %>
    <li><a href="/dogs/<%= dog.id %>"><%= dog.name %></a></li>
        <dl>
            <dt>Sex</dt> <dd><%= @dog.sex %></dd>
            <dt>Birthday</dt> <dd><%= @dog.dob %></dd>
            <dt>Age</dt> <dd><%= @dog.age %></dd>
            <dt>Skills Mastered</dt> <dd><%= @dog.mastered.count %></dd>
        </dl>
    <% end %>
</ul> 

<h2>Skills</h2>
<dl>
    <% @user.skills.each do |skill| %>
        <dt><a href="/skills/<%= skill.id %>" method="GET"><%= skill.name %></a></dt>
        <dd><%= skill.description %></dd>
    <% end %>
</dl>

# viewable only if current user = user id
<a href="/users/<%= @user.id %>/edit" method="GET">Edit Profile</a>

<form method="POST" action="/users/<%= @user.id %>">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="Delete Account" />
</form>